{{#partial "content"}}
<div class="jumbotron">
    <h1 class="display-3">Startup Weekend</h1>
    <p class="lead">Learn more about our Startup Weekend events.</p>
</div>

<p>The Portland Startup Weekend brings together people with different skill sets (such as developer, designers, and business people) to experience an intense weekend of building a new business. Why should you attend?</p>

    <ul>
        <li>Build your network</li>
        <li>Co-founder dating</li>
        <li>Learn a new skill</li>
        <li> Get face time with thought leaders</li>
        <li> Join a global community</li>
        <li>Actually launch a business!</li>
    </ul>


{{/partial}}
{{> layout.hbs}}