{{#partial "content"}}


<h1>Add Your Items</h1>
<form action="/event/new" method="post">
    <label for="name">Event name</label>
    <input id="name" name="name" type="text">
    <br>
    <label for="description">Description of event: </label>
    <input id="description" name="description" type="text">
    <br>
    <br>
    <label for="year">Year of event: </label>
    <input id="year" name="year" type="text">
    <br>
    <label for="month">Month of event: </label>
    <input id="month" name="month" type="text">
    <br>
    <label for="day">Day of month:</label>
    <input id="day" name="day" type="text">
    <br>
    <br>
    <label for="attendees">Add attendees separated by commas:</label>
    <input id="attendees" name="attendees" type="text">
    </div>
    <br>
    <button type="submit" class="btn btn-default">Add Event!</button>
</form>
{{/partial}}
{{> layout.hbs}}