{{#partial "content"}}
<h1>Event list!</h1>
{{#if events}}
<h2>All Events:</h2>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Name:</th>
        <th scope="col">Description:</th>
        <th scope="col">Date:</th>
        <th scope="col">start Time:</th>
        <th scope="col"><a href="/events/{{id}}/update" class="button"></a>Edit this event</th>

    </tr>
    </thead>
    {{#each events}}
    <tbody>
    <tr>
        <th scope="row"></th>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{startDate}}</td>
        <td>{{startTime}}</td>
        <td><a href="/events/{{id}}/update" class="button"></a>Edit this event</td>
    </tr>
    </tbody>
    {{/each}}
</table>
{{else}}
<p>No events added yet</p>
{{/if}}

{{/partial}}

{{> layout.hbs}}