{{#partial "content"}}
    <h1>Event list!</h1>
    {{#if events}}
        {{#each events}}
            <p>Current Event:</p>
            <h3>{{name}} <a href="/events/{{id}}">read more...</a></h3>
        {{/each}}
    {{else}}
            <p>No Events!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}