{{#partial "content"}}

<h3>Add and edit events, or add and edit attendees to your events!</h3>

{{#if events}}
    {{#each events }}
<h3>Current Events:</h3>
<div style="background-color:#d6e5ff; width:400px">
<h4>{{ name }} <a href="/events/{{id}}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h4>
{{/each}}
{{else}}
<p>No Events!</p>
{{/if}}
</div>

{{/partial}}

{{> layout.hbs}}