{{#partial "content"}}

<h1>Success!</h1>

Attendee has been deleted.
<br>
<a href="/">Home</a>
<br>
<a href="/events/{{attendee.eventId}}/attendees/">See other attendees for event.</a>
{{/partial}}

{{> layout.hbs}}